@import url(https://fonts.googleapis.com/css?family=Hind);
body {
  font-family: 'Hind', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.remark-slide-content.bkgd-cover {
  background-size: cover;
}

.remark-slide-content.bkgd-contain {
  background-size: contain;
}

.remark-slide-content.h-light h1,
.remark-slide-content.h-light h2 {
  /* whitesmoke */
  color: rgba(245, 245, 245, 0.8);
}

.darken,
.lighten {
  padding-top: 42px;
  padding-bottom: 42px;
  position: relative;
}

.darken::before,
.lighten::before {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  bottom: 0;
  left: -50%;
}

.darken::before {
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.lighten::before {
  background-image: linear-gradient( to bottom, rgba(245, 245, 245, 0), rgba(245, 245, 245, 0.4), rgba(245, 245, 245, 0.6), rgba(245, 245, 245, 0.4), rgba(245, 245, 245, 0));
}

.darken>*,
.lighten>* {
  position: relative;
}

.remark-slide-content.h-light .darken h1,
.remark-slide-content.h-light .darken h2 {
  color: whitesmoke;
}

.no-decor a {
  text-decoration: none;
}

.x-large>* {
  font-size: 300%;
}
